In [1]:
# -*- coding:utf-8 -*-
'''
Created on 2019/05/12
@author: Hunk Guo
'''
import datetime,time
import tushare as ts
import numpy as np
import pandas as pd
from utils import getTushareDate

In [3]:
pro = ts.pro_api('d94b8d1af9f3110dca7acf2e85b4bf10b7d33de74491de8f671c4b8b')

df = ts.get_realtime_quotes('000581') #Single stock symbol
df

,name,open,pre_close,price,high,low,bid,ask,volume,amount,...,a2_p,a3_v,a3_p,a4_v,a4_p,a5_v,a5_p,date,time,code
0,威孚高科,24.480,24.480,24.260,24.700,23.810,24.250,24.260,11150881,269648147.750,...,24.270,839,24.280,14,24.290,147,24.300,2021-01-15,15:00:03,000581