In [39]:
import os
import time
import tushare as ts
import pandas as pd
import numpy as np

In [40]:
pro = ts.pro_api("d94b8d1af9f3110dca7acf2e85b4bf10b7d33de74491de8f671c4b8b")


class GetDatafromTushare():
    
    pro = ts.pro_api("d94b8d1af9f3110dca7acf2e85b4bf10b7d33de74491de8f671c4b8b")
    
    def __init__(self):
        self.pro = ts.pro_api("d94b8d1af9f3110dca7acf2e85b4bf10b7d33de74491de8f671c4b8b")

    def get_all_stocks(self):
        """
        所有股票
        """
        stocks_data = pro.stock_basic(exchange='', list_status='L', fields='ts_code,symbol,name,area,industry,list_date')
        return stocks_data

    def get_market_trading_days(self,startdate,enddate):
        """
        取交易所交易的日期
        """
        tradedate_df = self.pro.trade_cal(exchange='', start_date=startdate, end_date=enddate, is_open=1)
        trading_days = tradedate_df.cal_date.tolist()
        return trading_days
    
    def get_concept(self):
        """
        概念股分类
        接口：concept
        """
        df_concept = pro.concept()
        return df_concept
    def get_concept_detail(self, ts_code):
        '''
        获取个股的概念分类
        '''
        df_concept_detail = pro.concept_detail(ts_code = ts_code)
        return df_concept_detail
    
    
    def get_all_daily(self):
        all_daily = self.pro.daily()
        return all_daily
    
    def get_all_index(self):
        all_index = self.pro.index_basic(market='CSI')
        return all_index
    
    def get_index_daily(self):
        index_daily = self.pro.index_daily(ts_code='000171.CSI')
        return index_daily
    
    def get_realtime_quotes(self):
        realtime_quotes = ts.get_realtime_quotes('000581') #Single stock symbol
        return realtime_quotes

obj = GetDatafromTushare()

概念分类

In [41]:
df_concept = obj.get_concept()
df_concept

      code   name src
0      TS0   密集调研  ts
1      TS1  南北船合并  ts
2      TS2     5G  ts
3      TS3     机场  ts
4      TS4    高价股  ts
..     ...    ...  ..
354  TS357    人造肉  ts
355  TS358   垃圾分类  ts
356  TS359    科创板  ts
357  TS360  科创板对标  ts
358  TS361   新型病毒  ts

[359 rows x 3 columns]

遍历所有股票的概念

In [42]:

# df_stocks = obj.get_all_stocks()
# for stock in df_stocks.itertuples():
#     ts_code = getattr(stock, 'ts_code')
#     print(ts_code)
#     df_stock_concept = obj.get_concept_detail(ts_code)
#     for stock_concept in df_stock_concept.itertuples():
#         print(getattr(stock_concept, 'concept_name'))

In [43]:
df = pro.daily(ts_code='000001.SZ')
df

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,000001.SZ,20210204,24.18,25.24,24.04,24.60,24.95,-0.35,-1.4028,1255247.50,3.084554e+06
1,000001.SZ,20210203,23.48,25.18,23.38,24.95,23.28,1.67,7.1735,1923271.59,4.690176e+06
2,000001.SZ,20210202,23.38,24.10,22.91,23.28,24.55,-1.27,-5.1731,2416168.77,5.679180e+06
3,000001.SZ,20210201,23.00,24.99,22.70,24.55,23.09,1.46,6.3231,1475239.30,3.529557e+06
4,000001.SZ,20210129,22.81,23.54,22.71,23.09,22.81,0.28,1.2275,1240258.41,2.864101e+06
...,...,...,...,...,...,...,...,...,...,...,...
4995,000001.SZ,19991029,21.80,22.00,21.44,21.58,21.79,-0.21,-0.9600,30789.00,6.652564e+04
4996,000001.SZ,19991028,22.23,22.35,21.75,21.79,22.20,-0.41,-1.8500,36130.00,7.927352e+04
4997,000001.SZ,19991027,22.30,22.58,22.00,22.20,21.87,0.33,1.5100,65490.00,1.458222e+05
4998,000001.SZ,19991026,21.51,22.08,21.51,21.87,21.49,0.38,1.7700,26323.00,5.742484e+04
4999,000001.SZ,19991025,22.01,22.10,21.42,21.49,21.93,-0.44,-2.0100,26534.00,5.733955e+04

In [44]:
vwap = np.average(df['close'],weights=df['vol'])
vwap

14.22280546711085

In [45]:
np.mean(df['close'])

14.338819999999998

In [46]:
t = np.arange(len(df))
t

array([   0,    1,    2, ..., 4997, 4998, 4999])

In [47]:
twap = np.average(df['close'],weights=t)
twap

14.600282214042808

In [48]:
c = df['close']
np.max(c)

48.05

In [49]:
np.ptp(c)

42.949999999999996

In [50]:
np.min(c)

5.1

In [51]:
np.median(c)

13.25

收益率

In [52]:
returns = np.diff(c)/c[:-1]
returns

0       0.014228
1      -0.066934
2       0.054553
3      -0.059470
4      -0.012126
          ...
4994    0.008883
4995    0.009731
4996    0.018816
4997   -0.014865
4998   -0.017375
Name: close, Length: 4999, dtype: float64

In [53]:
c[:-1]

0       24.60
1       24.95
2       23.28
3       24.55
4       23.09
        ...
4994    21.39
4995    21.58
4996    21.79
4997    22.20
4998    21.87
Name: close, Length: 4999, dtype: float64

In [54]:
c

0       24.60
1       24.95
2       23.28
3       24.55
4       23.09
        ...
4995    21.58
4996    21.79
4997    22.20
4998    21.87
4999    21.49
Name: close, Length: 5000, dtype: float64

In [55]:
len(np.diff(c))

4999

In [56]:
def count_positive(returns):
    return(sum(map(lambda x : x>0, returns)))
count_positive(returns)

2477

In [57]:
float(count_positive(returns))/len(c)

0.4954

In [58]:
np.std(returns)

0.02703098869997068

In [59]:
returns1=np.diff(np.log(c))
returns1

array([ 0.01412738, -0.0692792 ,  0.05311723, ...,  0.01864114,
       -0.01497645, -0.01752812])

In [60]:
count_positive(returns1)

2477

In [61]:
float(count_positive(returns1))/len(c)

0.4954

In [62]:
np.std(returns1)

0.026012783828057832

In [63]:
annual_volatility = (np.std(returns1)/np.mean(returns1))/np.sqrt(1./252.)
annual_volatility

-15273.06251325453

In [64]:


month_volatility = annual_volatility * np.sqrt(1./12.)
month_volatility

-4408.9533766887425

In [65]:
h = df['high']
h

0       25.24
1       25.18
2       24.10
3       24.99
4       23.54
        ...
4995    22.00
4996    22.35
4997    22.58
4998    22.08
4999    22.10
Name: high, Length: 5000, dtype: float64

In [72]:

c = df['close']
c

0       24.60
1       24.95
2       23.28
3       24.55
4       23.09
        ...
4995    21.58
4996    21.79
4997    22.20
4998    21.87
4999    21.49
Name: close, Length: 5000, dtype: float64

In [80]:

l = df['low']
l

0       24.04
1       23.38
2       22.91
3       22.70
4       22.71
        ...
4995    21.44
4996    21.75
4997    22.00
4998    21.51
4999    21.42
Name: low, Length: 5000, dtype: float64

In [81]:

N = 20
h_N = np.array(h[:N])
h_N

array([25.24, 25.18, 24.1 , 24.99, 23.54, 23.18, 23.47, 23.32, 22.6 ,
       22.23, 22.8 , 22.97, 22.84, 22.78, 21.95, 20.89, 21.01, 21.  ,
       20.64, 20.1 ])

In [82]:

l_N = np.array(l[:N])
l_N

array([24.04, 23.38, 22.91, 22.7 , 22.71, 22.45, 22.31, 22.3 , 21.43,
       21.51, 22.15, 22.12, 22.05, 21.2 , 20.82, 19.95, 20.4 , 20.18,
       20.  , 19.31])

In [83]:

preclose_N = np.array(c[1:N+1])
preclose_N

array([24.95, 23.28, 24.55, 23.09, 22.81, 23.08, 22.37, 22.49, 22.03,
       22.23, 22.47, 22.34, 22.7 , 21.  , 20.17, 20.7 , 21.  , 20.38,
       19.85, 19.9 ])

In [84]:

truerange = np.maximum(h_N-l_N, h_N-preclose_N, preclose_N-l_N)
truerange

array([1.2 , 1.9 , 1.19, 2.29, 0.83, 0.73, 1.16, 1.02, 1.17, 0.72, 0.65,
       0.85, 0.79, 1.78, 1.78, 0.94, 0.61, 0.82, 0.79, 0.79])

In [85]:
ATR = np.mean(truerange)
ATR

1.1005